<html>
<head>
    <title>WENDYS CUPCAKES ADMIN</title>
</head>
<body>
<my-app>Welcome to Admin Page</my-app>
<nav>
    <ul>
        <li><a href="#admin">Home</a></li>
        <li><a href="#messages">Messages</a></li>
        <li><a href="#orders">Orders</a></li>
        <li class="right-side">Wendy Tse</li>
        <li><a href="index.html">Logout</a></li>
    </ul>
</nav>
<h1>Hello Wendy How are you?</h1>

<!-- put sections here -->
<!-- div message and orders -->
<div class="messages-orders">
    <section>
        <div>
            <div><span>Orders</span> | <span>Messages</span></div>
            <orders-component>
            </orders-component>
        </div>
        <div>
            <img src="redvelvet-cupcake.jpg"/>

        </div>

    </section>

</div>

<!-- div calendar -->
<div class="calendar-section">

  </div>
</div>
</body>
</html>
