<h2>Messages</h2>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-primary" ng-repeat="message in messages">
                <article class="message">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            {{message.subject}} from {{message.custName}}</h3>
                    </div>
                    <div class="panel-body">
                        {{message.messageContent}}
                    </div>
                </article>
            </div>
        </div>
    </div>